body {
background-color: lightgray;
font-family: sans-serif;
}

@font-face {
    font-family: 'buka-bird';
    src: url('./assets/fonts/Buka\ Bird.ttf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
  font-family: 'beeleave';
  src: url('./assets/fonts/Bee\ Leave.ttf');
  font-weight: normal;
  font-weight: normal;
}

  h1 {
    font-family: buka-bird, sans-serif;
    font-size: 2.75rem;
    margin-bottom: 0rem;
  }

/* disc pieces */
.red {
  background-image: url("./assets/images/Stitch_\(Lilo_&_Stitch\).svg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(250, 0, 48);
  border-radius: 50%;
}

.black {
  background-image: url("./assets/images/220px-Lilo_Pelekai_in_hula_outfit.svg.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

/* header */
.header {
  justify-content: center;
  background-image: url(./assets/images/doing\ the\ hula.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgb(255, 159, 163);
  width: 100%;
  height: 25%;
}

/* aside */
.playerturn {
  background-color:rgb(229, 18, 60);
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: buka-bird;
}

/* playerzone */
.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  background-size: 40%;
  background-color: rgb(255, 159, 163);
}

.playerzone {
  height: 80%;
}

#gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 75vh;
  height: 75vh;
  margin: auto auto;
  border: 2px solid black;
}

.col {
  flex-basis: calc(100%/7);
  background-color: rgb(255, 159, 163);
  border-radius: 50%;
  margin: 1px;
}

/* Hiding Row 1 */
.row-0 > .col {
  background-color: rgb(229, 18, 60);
}

.row-1, .row-2, .row-3, .row-4, .row-5, .row-6 {
  background-color: rgb(250, 0, 48);
}

.row-1 {
  border-top: 2px solid black;
}

/* modal */
.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal-content {
  background-color: #ff5e6c;
  width: 45%;
}

.playagain-button {
  cursor: pointer;
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 10rem;
  height: 8rem;
  color: blue;
  background-color: rgb(205, 186, 235);
  border-radius: 2.5rem;
  font-weight: bold;
  font-size: 2rem;
}


.gray {
  background-color: rgba(128, 128, 128, 0.158);
}

.hidden {
  display: none;
}

.logo-img {
  width: auto;
  height: 50%;
  margin-top: 1rem;
  margin-bottom: -1.5rem;
  padding: 0;
}

.header-p {
  background-color: rgb(205, 186, 235);
  width: 75%;
  margin-left: 20rem;
  margin-bottom: 7rem;
  margin-left: 10rem;
  font-size: 14px;
  justify-content: center;
  font-family: beeleave, sans-serif;
  padding: .5rem;
}

.current-player {
  color: rgb(205, 186, 235);
  font-size: 3rem;
}
